:root {
    --color_0: 255, 255, 255;
    --color_1: 255, 255, 255;
    --color_2: 0, 0, 0;
    --color_3: 255, 203, 5;
    --color_4: 0, 136, 203;
    --color_5: 237, 28, 36;
    --color_6: 253, 253, 254;
    --color_7: 254, 253, 253;
    --color_8: 0, 0, 0;
    --color_9: 245, 233, 0;
    --color_10: 58, 190, 254;
    --color_11: 255, 255, 255;
    --color_12: 201, 201, 201;
    --color_13: 151, 151, 151;
    --color_14: 101, 101, 101;
    --color_15: 34, 34, 34;
    --color_16: 219, 255, 249;
    --color_17: 133, 240, 220;
    --color_18: 39, 211, 180;
    --color_19: 48, 156, 137;
    --color_20: 24, 78, 68;
    --color_21: 255, 218, 224;
    --color_22: 255, 160, 175;
    --color_23: 219, 37, 66;
    --color_24: 148, 15, 36;
    --color_25: 85, 11, 23;
    --color_26: 255, 249, 216;
    --color_27: 255, 241, 167;
    --color_28: 255, 228, 83;
    --color_29: 170, 150, 34;
    --color_30: 85, 75, 17;
    --color_31: 255, 224, 213;
    --color_32: 255, 192, 167;
    --color_33: 255, 138, 92;
    --color_34: 170, 70, 31;
    --color_35: 85, 35, 15;
    --font_0: normal normal bold 30px/1.1em marzo-w00-regular, fantasy;
    --font_1: normal normal normal 15px/1.1em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --font_2: normal normal bold 80px/1.1em raleway, sans-serif;
    --font_3: normal normal bold 50px/1.1em raleway, sans-serif;
    --font_4: normal normal normal 30px/1.3em raleway, sans-serif;
    --font_5: normal normal bold 22px/1.2em raleway, sans-serif;
    --font_6: normal normal normal 16px/1.3em raleway, sans-serif;
    --font_7: normal normal normal 15px/1.3em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --font_8: normal normal normal 14px/1.3em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --font_9: normal normal normal 12px/1.3em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --font_10: normal normal normal 11px/1.3em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --minViewportSize: 320;
    --maxViewportSize: 1920
}

.font_0 {
    font: var(--font_0);
    color: rgb(var(--color_15))
}

.font_1 {
    font: var(--font_1);
    color: rgb(var(--color_15))
}

.font_2 {
    font: var(--font_2);
    color: rgb(var(--color_15))
}

.font_3 {
    font: var(--font_3);
    color: rgb(var(--color_15))
}

.font_4 {
    font: var(--font_4);
    color: rgb(var(--color_15))
}

.font_5 {
    font: var(--font_5);
    color: rgb(var(--color_15))
}

.font_6 {
    font: var(--font_6);
    color: rgb(var(--color_15))
}

.font_7 {
    font: var(--font_7);
    color: rgb(var(--color_15))
}

.font_8 {
    font: var(--font_8);
    color: rgb(var(--color_15))
}

.font_9 {
    font: var(--font_9);
    color: rgb(var(--color_15))
}

.font_10 {
    font: var(--font_10);
    color: rgb(var(--color_15))
}

.color_0 {
    color: rgb(var(--color_0))
}

.color_1 {
    color: rgb(var(--color_1))
}

.color_2 {
    color: rgb(var(--color_2))
}

.color_3 {
    color: rgb(var(--color_3))
}

.color_4 {
    color: rgb(var(--color_4))
}

.color_5 {
    color: rgb(var(--color_5))
}

.color_6 {
    color: rgb(var(--color_6))
}

.color_7 {
    color: rgb(var(--color_7))
}

.color_8 {
    color: rgb(var(--color_8))
}

.color_9 {
    color: rgb(var(--color_9))
}

.color_10 {
    color: rgb(var(--color_10))
}

.color_11 {
    color: rgb(var(--color_11))
}

.color_12 {
    color: rgb(var(--color_12))
}

.color_13 {
    color: rgb(var(--color_13))
}

.color_14 {
    color: rgb(var(--color_14))
}

.color_15 {
    color: rgb(var(--color_15))
}

.color_16 {
    color: rgb(var(--color_16))
}

.color_17 {
    color: rgb(var(--color_17))
}

.color_18 {
    color: rgb(var(--color_18))
}

.color_19 {
    color: rgb(var(--color_19))
}

.color_20 {
    color: rgb(var(--color_20))
}

.color_21 {
    color: rgb(var(--color_21))
}

.color_22 {
    color: rgb(var(--color_22))
}

.color_23 {
    color: rgb(var(--color_23))
}

.color_24 {
    color: rgb(var(--color_24))
}

.color_25 {
    color: rgb(var(--color_25))
}

.color_26 {
    color: rgb(var(--color_26))
}

.color_27 {
    color: rgb(var(--color_27))
}

.color_28 {
    color: rgb(var(--color_28))
}

.color_29 {
    color: rgb(var(--color_29))
}

.color_30 {
    color: rgb(var(--color_30))
}

.color_31 {
    color: rgb(var(--color_31))
}

.color_32 {
    color: rgb(var(--color_32))
}

.color_33 {
    color: rgb(var(--color_33))
}

.color_34 {
    color: rgb(var(--color_34))
}

.color_35 {
    color: rgb(var(--color_35))
}

.backcolor_0 {
    background-color: rgb(var(--color_0))
}

.backcolor_1 {
    background-color: rgb(var(--color_1))
}

.backcolor_2 {
    background-color: rgb(var(--color_2))
}

.backcolor_3 {
    background-color: rgb(var(--color_3))
}

.backcolor_4 {
    background-color: rgb(var(--color_4))
}

.backcolor_5 {
    background-color: rgb(var(--color_5))
}

.backcolor_6 {
    background-color: rgb(var(--color_6))
}

.backcolor_7 {
    background-color: rgb(var(--color_7))
}

.backcolor_8 {
    background-color: rgb(var(--color_8))
}

.backcolor_9 {
    background-color: rgb(var(--color_9))
}

.backcolor_10 {
    background-color: rgb(var(--color_10))
}

.backcolor_11 {
    background-color: rgb(var(--color_11))
}

.backcolor_12 {
    background-color: rgb(var(--color_12))
}

.backcolor_13 {
    background-color: rgb(var(--color_13))
}

.backcolor_14 {
    background-color: rgb(var(--color_14))
}

.backcolor_15 {
    background-color: rgb(var(--color_15))
}

.backcolor_16 {
    background-color: rgb(var(--color_16))
}

.backcolor_17 {
    background-color: rgb(var(--color_17))
}

.backcolor_18 {
    background-color: rgb(var(--color_18))
}

.backcolor_19 {
    background-color: rgb(var(--color_19))
}

.backcolor_20 {
    background-color: rgb(var(--color_20))
}

.backcolor_21 {
    background-color: rgb(var(--color_21))
}

.backcolor_22 {
    background-color: rgb(var(--color_22))
}

.backcolor_23 {
    background-color: rgb(var(--color_23))
}

.backcolor_24 {
    background-color: rgb(var(--color_24))
}

.backcolor_25 {
    background-color: rgb(var(--color_25))
}

.backcolor_26 {
    background-color: rgb(var(--color_26))
}

.backcolor_27 {
    background-color: rgb(var(--color_27))
}

.backcolor_28 {
    background-color: rgb(var(--color_28))
}

.backcolor_29 {
    background-color: rgb(var(--color_29))
}

.backcolor_30 {
    background-color: rgb(var(--color_30))
}

.backcolor_31 {
    background-color: rgb(var(--color_31))
}

.backcolor_32 {
    background-color: rgb(var(--color_32))
}

.backcolor_33 {
    background-color: rgb(var(--color_33))
}

.backcolor_34 {
    background-color: rgb(var(--color_34))
}

.backcolor_35 {
    background-color: rgb(var(--color_35))
}

#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus, #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus~.wixSdkShowFocusOnSibling {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
    z-index: 999
}

[data-mesh-id=SITE_HEADERinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-jd4h7u9h"] {
    position: relative;
    margin: 29px 0px 14px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="i6g6mdtv_1"] {
    position: relative;
    margin: 31px 0px 14px calc((100% - 980px) * 0.5);
    left: 212px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_FOOTERinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="WRchTxt1"] {
    position: relative;
    margin: 7px 0px 23px calc((100% - 980px) * 0.5);
    left: 192px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#SITE_HEADER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49
}

#SITE_FOOTER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49
}

#PAGES_CONTAINER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 52;
    --above-all-in-container: 49
}

#comp-jd4h7u9h {
    width: 212px;
    height: 27px
}

#i6g6mdtv_1 {
    width: 768px;
    height: 25px
}

#WRchTxt1 {
    width: 600px;
    height: 15px
}

#SITE_PAGES {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#masterPage.landingPage #SITE_HEADER {
    display: none
}

#masterPage.landingPage #SITE_FOOTER {
    display: none
}

#masterPage.landingPage #SITE_HEADER-placeholder {
    display: none
}

#masterPage.landingPage #SITE_FOOTER-placeholder {
    display: none
}

#masterPage:not(.landingPage) #PAGES_CONTAINER {
    margin-top: 0px;
    margin-bottom: 0px
}

#comp-jd4h7u9h {
    --item-size: 27px;
    --item-margin: 0 10px 0 0;
    --item-display: inline-block;
    width: 212px;
    height: 27px
}

#i6g6mdtv_1 {
    --menuTotalBordersX: 0px;
    --menuTotalBordersY: 0px;
    --bgDrop: var(--color_11);
    --rd: 0px;
    --shd: none;
    --fnt: var(--font_1);
    --pad: 5px;
    --txt: var(--color_15);
    --trans: color 0.4s ease 0s;
    --txth: var(--color_18);
    --txts: var(--color_18);
    --alpha-bgDrop: 1;
    --alpha-txt: 1;
    --alpha-txth: 1;
    --alpha-txts: 1;
    --boxShadowToggleOn-shd: none
}

#WRchTxt1 {
    height: auto
}

#SITE_PAGES {
    --transition-duration: 700ms
}

#BACKGROUND_GROUP {
    --transition-duration: 700ms
}

#c1s0s {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#i6g6mdtr {
    width: 910px;
    height: 685px
}

#i6g6mdts {
    width: 607px;
    height: 240px
}

#i6g6mdtv_2 {
    width: 461px;
    height: 72px
}

#masterPage {
    --pinned-layers-in-page: 0
}

#c1s0s {
    width: auto;
    min-height: 696px
}

#i6g6mdtr {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 685px;
    --width: 910px
}

#i6g6mdts {
    height: auto
}

#i6g6mdtv_2 {
    height: auto
}

#pageBackground_c1s0s {
    --bg-position: absolute;
    --bg-overlay-color: rgb(var(--color_11));
    --fill-layer-background-overlay-color: transparent;
    --fill-layer-background-overlay-position: absolute
}

[data-mesh-id=Containerc10fkinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 500px;
    grid-template-rows: min-content min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i7374kvy"] {
    position: relative;
    margin: 0px 0px 27px calc((100% - 980px) * 0.5);
    left: 192px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i7375axr"] {
    position: relative;
    margin: 116px 0px 10px calc((100% - 980px) * 0.5);
    left: 1px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i737deaq"] {
    position: relative;
    margin: 0px 0px 30px calc((100% - 980px) * 0.5);
    left: 192px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i737i6ed"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 192px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i7377cx8"] {
    position: relative;
    margin: 6px 0px 10px calc((100% - 980px) * 0.5);
    left: 630px;
    grid-area: 2 / 1 / 5 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-gridContainer]>[id="i737o0a3"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 192px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containerc10fkinlineContent-wedge-6] {
    visibility: hidden;
    height: 895px;
    width: 0;
    grid-area: 1 / 1 / 6 / 2
}

#c10fk {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#i7374kvy {
    width: 786px;
    height: 448px
}

#i7375axr {
    width: 521px;
    height: 80px
}

#i737deaq {
    width: 365px;
    height: 164px
}

#i737i6ed {
    width: 365px;
    height: 94px
}

#i7377cx8 {
    width: 299px;
    height: 324px
}

#i737o0a3 {
    width: 786px;
    height: 5px
}

#masterPage {
    --pinned-layers-in-page: 0
}

#c10fk {
    width: auto;
    min-height: 500px
}

#i7374kvy {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 448px;
    --width: 786px
}

#i7375axr {
    height: auto
}

#i737deaq {
    height: auto
}

#i737i6ed {
    height: auto
}

#i7377cx8 {
    height: auto
}

#i737o0a3 {
    --lnw: 1px;
    --brd: var(--color_15);
    --alpha-brd: 1;
    transform-origin: center 0.5px
}

#pageBackground_c10fk {
    --bg-position: absolute;
    --bg-overlay-color: rgb(var(--color_11));
    --fill-layer-background-overlay-color: transparent;
    --fill-layer-background-overlay-position: absolute
}