a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif
}

input, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    cursor: pointer;
    text-decoration: none
}

body, html {
    height: 100%
}

body {
    overflow-x: auto;
    overflow-y: scroll
}

body.overflowHidden {
    overflow: hidden
}



body.device-mobile-optimized {
    overflow-x: hidden;
    overflow-y: scroll
}

body.device-mobile-optimized:not(.responsive) #SITE_CONTAINER {
    width: 320px;
    overflow-x: visible;
    position: relative
}



body.device-mobile-optimized>* {
    max-width: 100% !important
}

body.device-mobile-optimized #site-root {
    overflow-x: hidden;
    overflow-y: hidden
}

body.device-mobile-non-optimized #SITE_CONTAINER #site-root {
    overflow-x: hidden;
    overflow-y: auto
}

body.device-mobile-non-optimized.fullScreenMode {
    background-color: #5f6360
}

body.device-mobile-non-optimized.fullScreenMode #MOBILE_ACTIONS_MENU, body.device-mobile-non-optimized.fullScreenMode #site-root, body.device-mobile-non-optimized.fullScreenMode #SITE_BACKGROUND, body.fullScreenMode #WIX_ADS {
    visibility: hidden
}

body.fullScreenMode {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

body.fullScreenMode.device-mobile-optimized #TINY_MENU {
    opacity: 0;
    pointer-events: none
}

body.fullScreenMode-scrollable.device-mobile-optimized {
    overflow-x: hidden !important;
    overflow-y: auto !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage, body.fullScreenMode-scrollable.device-mobile-optimized #site-root {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage, body.fullScreenMode-scrollable.device-mobile-optimized #SITE_BACKGROUND {
    height: auto !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage.mesh-layout {
    height: 0 !important
}

body.blockSiteScrolling {
    position: fixed;
    width: 100%;
    overflow: hidden
}

body.blockSiteScrolling #SITE_CONTAINER {
    margin-top: calc(var(--blocked-site-scroll-margin-top) * -1)
}

body.blockSiteScrolling:not(.responsive) #WIX_ADS {
    margin-top: var(--blocked-site-scroll-margin-top)
}

.fullScreenOverlay {
    z-index: 1005;
    position: fixed;
    left: 0;
    top: -60px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow-y: hidden
}

.fullScreenOverlay>.fullScreenOverlayContent {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 60px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateZ(0)
}

[data-mesh-id$=centeredContent], [data-mesh-id$=form], [data-mesh-id$=inlineContent] {
    position: relative;
    pointer-events: none
}

[data-mesh-id$=-gridWrapper], [data-mesh-id$=-rotated-wrapper] {
    pointer-events: none
}

[data-mesh-id$=-gridContainer]>*, [data-mesh-id$=-rotated-wrapper]>*, [data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
    pointer-events: auto
}

.device-mobile-optimized #masterPage.mesh-layout #SOSP_CONTAINER_CUSTOM_ID {
    
    grid-area: 2/1/3/2;
    position: relative
}

#masterPage.mesh-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max-content max-content min-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-min-content -webkit-max-content;
    grid-template-rows: max-content max-content min-content max-content;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    align-items: start;
    justify-content: stretch
}



.auto-generated-link {
    color: inherit
}

body:not([data-js-loaded]) [data-hide-prejs] {
    visibility: hidden
}

#SCROLL_TO_BOTTOM, #SCROLL_TO_TOP {
    height: 0
}

[data-z-counter] {
    z-index: 0
}

[data-z-counter="0"] {
    z-index: auto
}

.wixSiteProperties {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

._2_Pya {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0
}

._1s0Ge {
    transition: .2s ease-in;
    transform: translateY(-100%)
}

._3-JNd {
    transition: .2s;
    transform: translateY(0)
}

.FxFZJ {
    transition: .2s ease-in;
    opacity: 0;
    visibility: hidden
}

.lSyDa {
    transition: .2s;
    opacity: 1
}

._1jI8r {
    height: auto
}

._1jI8r, ._2qN73 {
    position: relative;
    width: 100%
}

body:not(.device-mobile-optimized) ._1M8CM {
    margin-left: calc((100% - var(--site-width)) / 2);
    width: var(--site-width)
}

._17W7D, .UZpZM ._1M8CM {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.s0eeT {
    cursor: pointer
}

.TG-Zk {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: var(--opacity);
    fill: var(--fill);
    fill-opacity: var(--fill-opacity);
    stroke: var(--stroke);
    stroke-opacity: var(--stroke-opacity);
    stroke-width: var(--stroke-width);
    transform: var(--flip);
    filter: var(--drop-shadow, none)
}

.TG-Zk, .TG-Zk svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.TG-Zk svg {
    width: var(--svg-calculated-width, 100%);
    height: var(--svg-calculated-height, 100%);
    padding: var(--svg-calculated-padding, 0);
    margin: auto
}

._27iav svg, ._37OKp svg {
    overflow: visible !important
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .TG-Zk._37OKp {
            will-change: filter
        }
    }
}

._2HrZd {
    opacity: 0
}

._2fuJI {
    transition: opacity var(--transition-duration) cubic-bezier(.37, 0, .63, 1)
}

._2fuJI, .g0xNe {
    opacity: 1
}

.PeTAs {
    transition: opacity var(--transition-duration) cubic-bezier(.37, 0, .63, 1)
}

._1IGjY, .PeTAs {
    opacity: 0
}

.Ic0Mb {
    transition: opacity var(--transition-duration) cubic-bezier(.64, 0, .78, 0)
}

.Ic0Mb, .WjNI2 {
    opacity: 1
}

.Y5LuX {
    opacity: 0;
    transition: opacity var(--transition-duration) cubic-bezier(.22, 1, .36, 1)
}

._3P3IS {
    transform: translateX(100%)
}

._1vZD6 {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._1vZD6, .AM-g_ {
    transform: translateX(0)
}

._1MVJv {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._1MVJv, ._2uVRM {
    transform: translateX(-100%)
}

._2kt-u {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._2kt-u, ._3f6Db {
    transform: translateX(0)
}

._3u3Qg {
    transform: translateX(100%);
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._2LoMk {
    transform: translateY(100%)
}

._3VRRq {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._3VRRq, ._8b5uM {
    transform: translateY(0)
}

._1c8N5 {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._1c8N5, ._1SRt2 {
    transform: translateY(-100%)
}

.mMep- {
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

._3jOkM, .mMep- {
    transform: translateY(0)
}

._1hGK7 {
    transform: translateY(100%);
    transition: transform var(--transition-duration) cubic-bezier(.87, 0, .13, 1)
}

.StylableButton1872886392__root {
    -archetype: box;
    cursor: pointer;
    border: none;
    display: block;
    min-width: 10px;
    min-height: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0
}

.StylableButton1872886392__root[disabled] {
    pointer-events: none
}

.StylableButton1872886392__root.StylableButton1872886392--hasBackgroundColor {
    background-color: var(--corvid-background-color) !important
}

.StylableButton1872886392__root.StylableButton1872886392--hasBorderColor {
    border-color: var(--corvid-border-color) !important
}

.StylableButton1872886392__root.StylableButton1872886392--hasBorderRadius {
    border-radius: var(--corvid-border-radius) !important
}

.StylableButton1872886392__root.StylableButton1872886392--hasBorderWidth {
    border-width: var(--corvid-border-width) !important
}

.StylableButton1872886392__root.StylableButton1872886392--hasColor, .StylableButton1872886392__root.StylableButton1872886392--hasColor .StylableButton1872886392__label {
    color: var(--corvid-color) !important
}

.StylableButton1872886392__link {
    -archetype: box;
    text-decoration: none;
    box-sizing: border-box;
    color: #000
}

.StylableButton1872886392__container {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all .2s ease, visibility 0s
}

.StylableButton1872886392__label {
    -archetype: text;
    -controller-part-type: LayoutChildDisplayDropdown, LayoutFlexChildSpacing(first);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 1.8em;
    max-width: 100%;
    transition: inherit
}

.StylableButton1872886392__icon {
    -archetype: icon;
    -controller-part-type: LayoutChildDisplayDropdown, LayoutFlexChildSpacing(last);
    min-width: 1px;
    height: 50px;
    transition: inherit;
    flex-shrink: 0
}

.StylableButton1872886392__icon>div, .StylableButton1872886392__icon svg {
    display: flex;
    width: inherit;
    height: inherit
}

.GFY_- {
    pointer-events: none;
    overflow: hidden;
    padding: 0;
    white-space: nowrap
}

._2Yk_Z {
    cursor: pointer
}

ol.font_100, ul.font_100 {
    color: #080808;
    font-family: "Arial, Helvetica, sans-serif", serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    line-height: normal;
    letter-spacing: normal
}

ol.font_100 li, ul.font_100 li {
    margin-bottom: 12px
}

ol.wix-list-text-align, ul.wix-list-text-align {
    list-style-position: inside
}

ol.wix-list-text-align h1, ol.wix-list-text-align h2, ol.wix-list-text-align h3, ol.wix-list-text-align h4, ol.wix-list-text-align h5, ol.wix-list-text-align h6, ol.wix-list-text-align p, ul.wix-list-text-align h1, ul.wix-list-text-align h2, ul.wix-list-text-align h3, ul.wix-list-text-align h4, ul.wix-list-text-align h5, ul.wix-list-text-align h6, ul.wix-list-text-align p {
    display: inline
}

._2tuyK {
    cursor: pointer
}

.XcBF6 ._1cEyW {
    position: relative;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.XcBF6 ._1cEyW ul {
    list-style: disc inside
}

.XcBF6 ._1cEyW li {
    margin-bottom: 12px
}

._2bafp {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
    pointer-events: none
}

._2bafp>* {
    pointer-events: auto
}

._2bafp li {
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: normal
}

._2bafp ol, ._2bafp ul {
    padding-left: 1.3em;
    padding-right: 0;
    margin-left: .5em;
    margin-right: 0;
    line-height: normal;
    letter-spacing: normal
}

._2bafp ul {
    list-style-type: disc
}

._2bafp ol {
    list-style-type: decimal
}

._2bafp ol ul, ._2bafp ul ul {
    list-style-type: circle
}

._2bafp ol ol ul, ._2bafp ol ul ul, ._2bafp ul ol ul, ._2bafp ul ul ul {
    list-style-type: square
}

._2bafp ol[dir=rtl], ._2bafp ol[dir=rtl] ol, ._2bafp ol[dir=rtl] ul, ._2bafp ul[dir=rtl], ._2bafp ul[dir=rtl] ol, ._2bafp ul[dir=rtl] ul {
    padding-left: 0;
    padding-right: 1.3em;
    margin-left: 0;
    margin-right: .5em
}

._2bafp blockquote, ._2bafp h1, ._2bafp h2, ._2bafp h3, ._2bafp h4, ._2bafp h5, ._2bafp h6, ._2bafp p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal
}

._2bafp a {
    color: inherit
}

.lJm9X ._1cEyW {
    position: relative;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.lJm9X ._1cEyW ol, .lJm9X ._1cEyW ul {
    padding-left: 1.3em;
    margin-left: .5em;
    line-height: normal;
    letter-spacing: normal
}

.lJm9X ._1cEyW ol[dir=rtl], .lJm9X ._1cEyW ul[dir=rtl] {
    padding-right: 1.3em;
    margin-right: .5em
}

.lJm9X ._1cEyW ul {
    list-style-type: disc
}

.lJm9X ._1cEyW ol {
    list-style-type: decimal
}

.lJm9X ._1cEyW ol[dir=rtl], .lJm9X ._1cEyW ul[dir=rtl] {
    padding-right: 1.3em;
    margin-right: .5em
}

.lJm9X ._1cEyW ol ul, .lJm9X ._1cEyW ul ul {
    list-style-type: circle;
    line-height: normal
}

.lJm9X ._1cEyW ol ol ul, .lJm9X ._1cEyW ol ul ul, .lJm9X ._1cEyW ul ol ul, .lJm9X ._1cEyW ul ul ul {
    list-style-type: square;
    line-height: normal
}

.lJm9X ._1cEyW li {
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: normal
}

.lJm9X ._1cEyW h1, .lJm9X ._1cEyW h2, .lJm9X ._1cEyW h3, .lJm9X ._1cEyW h4, .lJm9X ._1cEyW h5, .lJm9X ._1cEyW h6, .lJm9X ._1cEyW p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal
}

.lJm9X ._1cEyW a {
    color: inherit
}

._3tDhR {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

._3tDhR>div {
    justify-self: stretch !important;
    align-self: stretch !important
}

._2oJTp {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: calc(100% - var(--wix-ads-height));
    margin-top: var(--wix-ads-height);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

._1PGFM, ._2oJTp {
    pointer-events: none;
    z-index: var(--pinned-layer-in-container, var(--above-all-in-container))
}

.dmysR {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0
}

._1veUs {
    transition: .2s ease-in;
    transform: translateY(-100%)
}

._3FGUd {
    transition: .2s;
    transform: translateY(0)
}

._2JCUO {
    transition: .2s ease-in;
    opacity: 0;
    visibility: hidden
}

._2qLBX {
    transition: .2s;
    opacity: 1
}

._1MBwI {
    height: auto
}

._1MBwI, ._2_pp6 {
    position: relative;
    width: 100%
}

body:not(.device-mobile-optimized) ._1DMOb {
    margin-left: calc((100% - var(--site-width)) / 2);
    width: var(--site-width)
}

._26XlU .kvZ7q {
    top: 0;
    bottom: 0;
    box-shadow: var(--shd, 0 0 5px rgba(0, 0, 0, .7));
    background-color: var(--screenwidth-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
    border-top: var(--brwt, 0) solid var(--screenwidth-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
    border-bottom: var(--brwb, 0) solid var(--screenwidth-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)))
}

._26XlU .kvZ7q, ._26XlU .mtROD {
    position: absolute;
    right: 0;
    left: 0
}

._26XlU .mtROD {
    top: var(--brwt, 0);
    bottom: var(--brwb, 0);
    border-radius: var(--rd, 0);
    background-color: rgba(var(--bgctr, var(--color_11)), var(--alpha-bgctr, 1))
}

._26XlU ._1DMOb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

body.device-mobile-optimized ._26XlU ._1DMOb {
    left: 10px;
    right: 10px
}

._31Ne5 {
    position: relative;
    overflow: visible
}

._1XT8x {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

._2US5Z {
    cursor: pointer
}

.cs8rE {
    border-color: var(--hover-box-border-color);
    border-radius: var(--hover-box-border-radius);
    border-style: var(--hover-box-border-style);
    border-width: var(--hover-box-border-width);
    box-shadow: var(--hover-box-box-shadow);
    transform: var(--hover-box-transform);
    margin: var(--hover-box-margin);
    overflow: var(--hover-box-overflow);
    position: relative
}

._2k7xj {
    text-align: initial;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-content: var(--label-align);
    min-width: 100%
}

._2k7xj:before {
    max-width: var(--margin-left, 0)
}

._2k7xj:after, ._2k7xj:before {
    content: "";
    flex-grow: 1;
    align-self: stretch
}

._2k7xj:after {
    max-width: var(--margin-right, 0)
}

._2btH0 {
    height: 100%
}

._2btH0 ._2k7xj {
    border-radius: var(--corvid-border-radius, var(--rd, 0));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: var(--trans1, border-color .4s ease 0s, background-color .4s ease 0s);
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6))
}

._2btH0 ._2k7xj:link, ._2btH0 ._2k7xj:visited {
    border-color: transparent
}

._2btH0 .nr31w {
    font: var(--fnt, var(--font_5));
    transition: var(--trans2, color .4s ease 0s);
    color: var(--corvid-color, rgb(var(--txt, var(--color_15))));
    position: relative;
    white-space: nowrap;
    margin: 0
}

._2btH0[aria-disabled=false] ._2k7xj {
    background-color: var(--corvid-background-color, rgba(var(--bg, var(--color_17)), var(--alpha-bg, 1)));
    border: solid var(--corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))) var(--corvid-border-width, var(--brw, 0));
    cursor: pointer !important
}

body.device-mobile-optimized ._2btH0[aria-disabled=false]:active ._2k7xj {
    background-color: rgba(var(--bgh, var(--color_18)), var(--alpha-bgh, 1));
    border-color: rgba(var(--brdh, var(--color_15)), var(--alpha-brdh, 1))
}

body.device-mobile-optimized ._2btH0[aria-disabled=false]:active .nr31w {
    color: rgb(var(--txth, var(--color_15)))
}

body:not(.device-mobile-optimized) ._2btH0[aria-disabled=false]:hover ._2k7xj {
    background-color: rgba(var(--bgh, var(--color_18)), var(--alpha-bgh, 1));
    border-color: rgba(var(--brdh, var(--color_15)), var(--alpha-brdh, 1))
}

body:not(.device-mobile-optimized) ._2btH0[aria-disabled=false]:hover .nr31w {
    color: rgb(var(--txth, var(--color_15)))
}

._2btH0[aria-disabled=true] ._2k7xj {
    background-color: rgba(var(--bgd, 204, 204, 204), var(--alpha-bgd, 1));
    border-color: rgba(var(--brdd, 204, 204, 204), var(--alpha-brdd, 1));
    border-width: var(--corvid-border-width, var(--brw, 0));
    border-style: solid
}

._2btH0[aria-disabled=true] .nr31w {
    color: rgb(var(--txtd, 255, 255, 255))
}

.e3SAW {
    width: 100%;
    height: 100%;
    overflow: hidden
}

._3oqF5 {
    text-align: initial;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-content: var(--label-align);
    min-width: 100%
}

._3oqF5:before {
    max-width: var(--margin-left, 0)
}

._3oqF5:after, ._3oqF5:before {
    content: "";
    flex-grow: 1;
    align-self: stretch
}

._3oqF5:after {
    max-width: var(--margin-right, 0)
}

._1P1ro[aria-disabled=false] ._3oqF5 {
    cursor: pointer
}

body.device-mobile-optimized ._1P1ro[aria-disabled=false]:active ._22ngm, body:not(.device-mobile-optimized) ._1P1ro[aria-disabled=false]:hover ._22ngm {
    color: rgb(var(--txth, var(--color_15)));
    transition: var(--trans, color .4s ease 0s)
}

._1P1ro ._3oqF5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._1P1ro ._22ngm {
    font: var(--fnt, var(--font_5));
    transition: var(--trans, color .4s ease 0s);
    color: var(--corvid-color, rgb(var(--txt, var(--color_15))));
    white-space: nowrap
}

._1P1ro[aria-disabled=true] ._22ngm {
    color: rgb(var(--txtd, 255, 255, 255))
}

._2AO2a {
    position: var(--bg-position);
    top: var(--wix-ads-height);
    min-height: calc(100vh - var(--wix-ads-height));
    height: 100%;
    width: 100%;
    min-width: var(--site-width)
}

body:not(.device-mobile-optimized) .JSM9k {
    display: flex
}

body:not(.device-mobile-optimized) ._2EoGw {
    display: flex;
    position: relative;
    width: calc(100% - var(--padding) * 2);
    margin: 0 auto
}

body:not(.device-mobile-optimized) ._2EoGw>* {
    flex: var(--column-flex);
    min-width: var(--column-width);
    margin-top: var(--padding);
    margin-bottom: var(--padding);
    position: relative;
    left: 0;
    top: 0;
    margin-left: var(--margin)
}

body:not(.device-mobile-optimized) ._2EoGw>:first-child {
    margin-left: 0
}

body.device-mobile-optimized ._2EoGw {
    display: block;
    position: relative;
    padding: var(--padding) 0
}

body.device-mobile-optimized ._2EoGw>* {
    margin-bottom: var(--margin);
    position: relative
}

body.device-mobile-optimized ._2EoGw>:first-child {
    margin-top: -1px
}

body.device-mobile-optimized ._2EoGw>:last-child {
    margin-bottom: -1px
}

._1NovW {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.rca7A {
    width: 100%;
    height: 100%;
    display: block
}

.rca7A svg._1eMqj {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute
}

._1K4Go, ._1K4Go svg {
    width: 100%;
    height: 100%
}

._22Lsw, .X-jRX {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.X-jRX {
    left: 0;
    -webkit-mask-image: var(--mask-image, none);
    mask-image: var(--mask-image, none);
    -webkit-mask-position: var(--mask-position, 0);
    mask-position: var(--mask-position, 0);
    -webkit-mask-size: var(--mask-size, 100%);
    mask-size: var(--mask-size, 100%);
    -webkit-mask-repeat: var(--mask-repeat, no-repeat);
    mask-repeat: var(--mask-repeat, no-repeat);
    pointer-events: var(--fill-layer-background-media-pointer-events)
}

.X-jRX._2AZ6T {
    clip: rect(0, auto, auto, 0)
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .X-jRX._2AZ6T {
            clip: auto;
            -webkit-clip-path: inset(0)
        }
    }
}

._1J6n9 {
    height: 100%
}

.mlsxv {
    background-color: var(--bg-overlay-color)
}

._1-b-O {
    opacity: var(--fill-layer-image-opacity);
    height: var(--fill-layer-image-height, 100%)
}

._1-b-O img {
    width: 100%;
    height: 100%
}

._2kjIP {
    position: absolute;
    width: 100%;
    height: var(--media-padding-height);
    top: var(--media-padding-top);
    bottom: var(--media-padding-bottom)
}

.ysaOK {
    transform: scale(var(--scale, 1));
    transition: var(--transform-duration, transform 0s)
}

.kBelp {
    position: relative;
    width: 100%;
    height: 100%
}

._1n_5u {
    -webkit-clip-path: var(--fill-layer-clip);
    clip-path: var(--fill-layer-clip)
}

._1n_5u, ._3UHRA {
    position: absolute;
    top: 0
}

._1n_5u, ._1ytkV img, ._3UHRA {
    width: 100%;
    height: 100%
}

._1BP2G {
    position: absolute;
    top: 0
}

._3nV6U {
    position: var(--fill-layer-background-media-position);
    pointer-events: var(--fill-layer-background-media-pointer-events);
    left: 0
}

._1qeol, ._3nV6U, .YhHhy {
    width: 100%;
    height: 100%;
    top: 0
}

.YhHhy {
    position: absolute
}

._1qeol {
    background-color: var(--fill-layer-background-overlay-color);
    position: var(--fill-layer-background-overlay-position);
    opacity: var(--fill-layer-background-overlay-blend-opacity-fallback, 1);
    transform: var(--fill-layer-background-overlay-transform)
}

@supports (mix-blend-mode:overlay) {
    ._1qeol {
        mix-blend-mode: var(--fill-layer-background-overlay-blend-mode);
        opacity: var(--fill-layer-background-overlay-blend-opacity, 1)
    }
}

._2ws69 {
    cursor: pointer
}

._2edl5 {
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

._2ztx1 {
    min-height: var(--image-min-height);
    min-width: var(--image-min-width)
}

._2ztx1 img {
    -o-object-position: var(--object-position);
    object-position: var(--object-position);
    filter: var(--filter-effect-svg-url)
}

.Ued3M {
    position: var(--position-fixed, static);
    left: var(--left, auto);
    top: var(--top, auto);
    z-index: var(--z-index, auto)
}

.Ued3M ._2ztx1 img {
    position: static;
    box-shadow: 0 0 0 #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Ued3M ._2edl5 {
    display: block
}

.Ued3M ._2edl5, .Ued3M ._2ztx1 {
    overflow: hidden
}

._1m93a .PE8t5 ._2-pBe {
    display: var(--item-display);
    width: var(--item-size);
    height: var(--item-size)
}

._1m93a .PE8t5 ._2-pBe:not(:last-child) {
    margin: var(--item-margin)
}

._1m93a .PE8t5 ._2-pBe .fNVUF {
    display: block
}

._1m93a .PE8t5 ._2-pBe .fNVUF ._21zrA {
    width: var(--item-size);
    height: var(--item-size)
}

._1m93a .PE8t5 {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap
}

body.device-mobile-optimized ._1m93a .PE8t5 {
    white-space: normal
}

._3XkhD {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._3UCvU {
    height: auto;
    width: 100%;
    position: relative
}

body:not(.responsive) ._3V_xK {
    height: 100%;
    position: relative;
    left: 0;
    grid-area: 1/1/1/1;
    align-self: start;
    justify-self: stretch
}

body:not(.device-mobile-optimized) ._3XkhD {
    margin-left: calc((100% - var(--site-width)) / 2);
    width: var(--site-width)
}

._4INfd ._3XkhD {
    overflow: hidden;
    background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
}

body.device-mobile-optimized ._3XkhD {
    left: 10px;
    right: 10px
}

._1vnzj {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._2egft {
    height: auto;
    width: 100%;
    position: relative
}

body:not(.responsive) ._3akMP {
    height: 100%;
    position: relative;
    left: 0;
    grid-area: 1/1/1/1;
    align-self: start;
    justify-self: stretch
}

body:not(.device-mobile-optimized) ._1vnzj {
    margin-left: calc((100% - var(--site-width)) / 2);
    width: var(--site-width)
}

body.device-mobile-optimized ._1vnzj {
    left: 10px;
    right: 10px
}

._1Cfot {
    pointer-events: none
}

._1BLK_ {
    overflow-x: hidden
}

._1BLK_ ._3mdqs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

._1BLK_ ._3mdqs ._151Fq {
    flex: 1
}

._1BLK_ ._3mdqs ._2qN6d {
    width: calc(100% - (var(--menuTotalBordersX, 0px)));
    height: calc(100% - (var(--menuTotalBordersY, 0px)));
    white-space: nowrap;
    overflow: visible
}

._1BLK_ ._3mdqs ._2qN6d .AEGjP {
    display: inline-block
}

._1BLK_ ._3mdqs ._2qN6d ._3c4V9 {
    display: block;
    width: 100%
}

._1BLK_ ._3FVLO {
    z-index: 99999;
    display: block;
    opacity: 1
}

._1BLK_ ._3FVLO ._37sAS {
    overflow: visible;
    display: inherit;
    white-space: nowrap;
    width: auto;
    visibility: inherit
}

._1BLK_ ._3FVLO._3Pev9 {
    transition: visibility;
    transition-delay: .2s;
    visibility: visible
}

._1BLK_ ._3FVLO .hfpL0 {
    display: inline-block
}

._1BLK_ ._2FZTJ {
    display: none
}

._3w6CQ>nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._3w6CQ ._2qN6d, ._3w6CQ ._3FVLO, ._3w6CQ>nav {
    position: absolute
}

._3w6CQ ._3FVLO {
    visibility: hidden;
    margin-top: 7px
}

._3w6CQ ._3FVLO[data-dropMode=dropUp] {
    margin-top: 0;
    margin-bottom: 7px
}

._3w6CQ ._37sAS {
    background-color: rgba(var(--bgDrop, var(--color_11)), var(--alpha-bgDrop, 1));
    border-radius: var(--rd, 0);
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6))
}

._1VAYf, ._14VId {
    height: 100%;
    width: auto;
    position: relative;
    box-sizing: border-box;
    overflow: visible
}

._1VAYf[data-state~=header] a, ._1VAYf[data-state~=header] div, ._14VId[data-state~=header] a, ._14VId[data-state~=header] div {
    cursor: default !important
}

._1VAYf ._35v05, ._14VId ._35v05 {
    display: inline-block;
    height: 100%;
    width: 100%
}

._14VId {
    display: inline-block;
    cursor: pointer;
    font: var(--fnt, var(--font_1))
}

._14VId ._1Szr4 {
    padding: 0 var(--pad, 5px)
}

._14VId .ccDUc {
    display: inline-block;
    padding: 0 10px;
    color: rgb(var(--txt, var(--color_15)));
    transition: var(--trans, color .4s ease 0s)
}

._14VId[data-state~=drop] {
    width: 100%;
    display: block
}

._14VId[data-state~=drop] .ccDUc {
    padding: 0 .5em
}

._14VId[data-state~=link]:hover .ccDUc, ._14VId[data-state~=over] .ccDUc {
    color: rgb(var(--txth, var(--color_14)));
    transition: var(--trans, color .4s ease 0s)
}

._14VId[data-state~=selected] .ccDUc {
    color: rgb(var(--txts, var(--color_14)));
    transition: var(--trans, color .4s ease 0s)
}

._3WQKx {
    overflow: hidden;
    background-color: rgba(var(--backgroundColor, var(--color_8)), var(--alpha-backgroundColor, 1));
    border-color: rgba(var(--borderColor, var(--color_8)), var(--alpha-borderColor, 1));
    border-width: var(--borderWidth, 0);
    border-style: solid;
    border-radius: var(--cornerRadius, 0);
    box-shadow: var(--boxShadow, none)
}

._3WQKx wix-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: var(--mediaOpacity, 1)
}

._3WQKx img {
    width: 100%;
    height: 100%
}

._7STJN .PpEzW .TlAtT {
    display: var(--item-display);
    width: var(--item-size);
    height: var(--item-size)
}

._7STJN .PpEzW .TlAtT:not(:last-child) {
    margin: var(--item-margin)
}

._7STJN .PpEzW .TlAtT .I0LrY {
    display: block
}

._7STJN .PpEzW .TlAtT .I0LrY ._3YBJ2 {
    width: var(--item-size);
    height: var(--item-size)
}

._7STJN {
    display: table
}

._7STJN .PpEzW {
    display: flex;
    flex-direction: var(--flex-direction)
}

._3QVX_ {
    background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
}

.b2Sfd {
    transition-delay: var(--transition-delay);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: var(--transition-property)
}

.b2Sfd._3kfn- {
    transform: var(--scrolled-transform)
}

.b2Sfd._13h-i {
    opacity: var(--scrolled-opacity)
}

.b2Sfd._30mX3 {
    transition-delay: 0s
}

._2mKjd {
    background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1));
    transition-delay: var(--transition-delay);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: var(--transition-property)
}

._192ST._2mKjd {
    background-color: rgba(var(--bg-scrl, var(--color_11)), var(--alpha-bg-scrl, 1))
}

._30GbI {
    pointer-events: none !important
}

._30GbI._3HaDB>*, ._30GbI:not(._3HaDB)>:first-child>* {
    pointer-events: auto
}

._1xBzm {
    --container-corvid-border-color: rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
    --container-corvid-border-size: var(--brw, 1px);
    --container-corvid-background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
}

._3NuDC {
    border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
    background-color: var(--container-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
    border-radius: var(--rd, 5px);
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._2wjTQ {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    visibility: hidden
}

._2wjTQ._3bPEB {
    opacity: 1;
    visibility: visible
}

._2wjTQ[data-undisplayed=true] {
    display: none
}

._2wjTQ:not([data-is-mesh]) .-r5tc, ._2wjTQ:not([data-is-mesh]) ._3KPTS {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._1ACUw {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--bg, var(--color_15)), var(--alpha-bg, 1));
    display: initial;
    opacity: 0
}

._1ACUw._11nYb {
    display: none
}

body.device-mobile-optimized ._1ACUw {
    height: 100vh;
    width: var(--screen-width)
}

body.device-mobile-optimized ._1ACUw, body.device-mobile-optimized ._2wjTQ._11nYb {
    left: calc((100% - var(--screen-width)) / 2)
}

body.device-mobile-optimized ._2wjTQ.tPkHi, body:not(.device-mobile-optimized) ._2wjTQ.tPkHi {
    height: 100vh
}

._1KE0E.tPkHi, ._1KE0E.tPkHi>:first-child {
    height: calc(var(--menu-height) - var(--wix-ads-height))
}

._1KE0E.tPkHi>:first-child {
    margin-top: var(--wix-ads-height)
}

._2wjTQ.tPkHi {
    top: 0
}

._2wjTQ._2RcFC {
    z-index: calc(var(--above-all-z-index) - 1)
}

._3bezk {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    visibility: hidden
}

._3bezk.bwoU- {
    opacity: 1;
    visibility: visible
}

._3bezk[data-undisplayed=true] {
    display: none
}

._3bezk:not([data-is-mesh]) ._1tsjP, ._3bezk:not([data-is-mesh]) ._2eYka {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.CcDeJ {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--bg, var(--color_15)), var(--alpha-bg, 1));
    display: initial;
    opacity: 0
}

.CcDeJ.d1eWu {
    display: none
}

body.device-mobile-optimized .CcDeJ {
    height: 100vh;
    width: var(--screen-width)
}

body.device-mobile-optimized ._3bezk.d1eWu, body.device-mobile-optimized .CcDeJ {
    left: calc((100% - var(--screen-width)) / 2)
}

body.device-mobile-optimized ._3bezk._3o_Lz, body:not(.device-mobile-optimized) ._3bezk._3o_Lz {
    height: 100vh
}

._2iV2q._3o_Lz, ._2iV2q._3o_Lz>:first-child {
    height: calc(var(--menu-height) - var(--wix-ads-height))
}

._2iV2q._3o_Lz>:first-child {
    margin-top: var(--wix-ads-height)
}

._3bezk._3o_Lz {
    top: 0
}

.cf8n_ {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--containerBackground, var(--color_11)), var(--alpha-containerBackground, 1))
}

._2iV2q {
    height: 100%
}

.AgPkq ._1htNC {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
}

._7b77h {
    display: contents
}